<?xml version="1.0" encoding="UTF-8"?>
<!--~
  ~ @package   socialmagick
  ~ @copyright Copyright (c)2025 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config>
    <inlinehelp button="show" addfieldprefix="Akeeba\Component\SocialMagick\Administrator\Field"/>

    <fieldset name="basic"
              label="COM_SOCIALMAGICK_CONFIG_FIELDSET_BASIC_LABEL">
        <field
                name="generate_images"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_GENERATE_IMAGES_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_GENERATE_IMAGES_DESC"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="template"
                type="socialmagicktemplate"
                default="Solid"
                label="COM_SOCIALMAGICK_CONFIG_TEMPLATE_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_TEMPLATE_DESC"
                validate="options"
                showon="generate_images:1"
        >
            <option value="">COM_SOCIALMAGICK_CONFIG_TEMPLATE_SELECT</option>
        </field>
    </fieldset>

    <fieldset name="ogtags"
              label="COM_SOCIALMAGICK_CONFIG_FIELDSET_OGTAGS_LABEL"
    >
        <field
                name="add_og_declaration"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_ADD_OG_DECLARATION_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_ADD_OG_DECLARATION_DESC"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="og_title"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_OG_TITLE_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_TITLE_DESC"
                validate="options"
                default="1"
        >
            <option value="0">COM_SOCIALMAGICK_CONFIG_OG_TITLE_OPT_NO</option>
            <option value="1">COM_SOCIALMAGICK_CONFIG_OG_TITLE_OPT_JOOMLA</option>
            <option value="2">COM_SOCIALMAGICK_CONFIG_OG_TITLE_OPT_CUSTOM</option>
        </field>

        <field
                name="og_title_custom"
                type="text"
                label="COM_SOCIALMAGICK_CONFIG_OG_TITLE_CUSTOM_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_TITLE_CUSTOM_DESC"
                default=""
                filter="no_html"
                showon="og_title:2"
        />

        <field
                name="og_description"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_DESC"
                validate="options"
                default="1"
        >
            <option value="0">COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_OPT_NO</option>
            <option value="1">COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_OPT_JOOMLA</option>
            <option value="2">COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_OPT_CUSTOM</option>
        </field>

        <field
                name="og_description_custom"
                type="text"
                label="COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_CUSTOM_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_DESCRIPTION_CUSTOM_DESC"
                default=""
                filter="no_html"
                showon="og_description:2"
        />

        <field
                name="og_url"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_OG_URL_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_URL_DESC"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="og_site_name"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_OG_SITE_NAME_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_OG_SITE_NAME_DESC"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="twitter_card"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_TWITTER_CARD_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_TWITTER_CARD_DESC"
                validate="options"
                default="2"
        >
            <option value="0">COM_SOCIALMAGICK_CONFIG_TWITTER_CARD_OPT_NONE</option>
            <option value="1">COM_SOCIALMAGICK_CONFIG_TWITTER_CARD_OPT_SUMMARY</option>
            <option value="2">COM_SOCIALMAGICK_CONFIG_TWITTER_CARD_OPT_SUMMARY_LARGE</option>
        </field>

        <field
                name="twitter_site"
                type="text"
                label="COM_SOCIALMAGICK_CONFIG_TWITTER_SITE_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_TWITTER_SITE_DESC"
                default=""
                filter="no_html"
                showon="twitter_card!:0"
        />

        <field
                name="twitter_creator"
                type="text"
                label="COM_SOCIALMAGICK_CONFIG_TWITTER_CREATOR_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_TWITTER_CREATOR_DESC"
                default=""
                filter="no_html"
                showon="twitter_card!:0"
        />

        <field
                name="fb_app_id"
                type="text"
                label="COM_SOCIALMAGICK_CONFIG_FB_APP_ID_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_FB_APP_ID_DESC"
                default=""
                filter="no_html"
        />

    </fieldset>

    <fieldset name="advanced"
              label="COM_SOCIALMAGICK_CONFIG_FIELDSET_ADVANCED_LABEL">
        <field
                name="imagetype"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_IMAGETYPE_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_IMAGETYPE_DESC"
                validate="options"
                default="jpg"
        >
            <option value="png">COM_SOCIALMAGICK_CONFIG_IMAGETYPE_OPT_PNG</option>
            <option value="jpg">COM_SOCIALMAGICK_CONFIG_IMAGETYPE_OPT_JPG</option>
            <option value="webp">COM_SOCIALMAGICK_CONFIG_IMAGETYPE_OPT_WEBP</option>
        </field>

        <field
                name="quality"
                type="integer"
                label="COM_SOCIALMAGICK_CONFIG_QUALITY_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_QUALITY_DESC"
                first="0"
                last="100"
                step="5"
                default="85"
        />

        <field
                name="devmode"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_DEVMODE_LABEL"
                default="0"
                description="COM_SOCIALMAGICK_CONFIG_DEVMODE_DESC"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="textdebug"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_TEXTDEBUG_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_TEXTDEBUG_DESC"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="debuglink"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_SOCIALMAGICK_CONFIG_DEBUGLINK_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_DEBUGLINK_DESC"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="fepreview_accesslevel"
                type="accesslevel"
                label="COM_SOCIALMAGICK_CONFIG_FEPREVIEW_ACCESSLEVEL_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_FEPREVIEW_ACCESSLEVEL_DESC"
                default="3"
                showon="debuglink:1"
        />

        <field
                name="library"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_LIBRARY_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_LIBRARY_DESC"
                validate="options"
                default="auto"
        >
            <option value="auto">COM_SOCIALMAGICK_CONFIG_LIBRARY_AUTO</option>
            <option value="imagick">COM_SOCIALMAGICK_CONFIG_LIBRARY_IMAGICK</option>
            <option value="gd">COM_SOCIALMAGICK_CONFIG_LIBRARY_GD</option>
        </field>
    </fieldset>

    <fieldset name="facedetect"
              label="COM_SOCIALMAGICK_CONFIG_FIELDSET_FACEDETECT_LABEL">

        <field
                name="facedetect_method"
                type="list"
                label="COM_SOCIALMAGICK_CONFIG_FACEDETECT_METHOD_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_FACEDETECT_METHOD_DESC"
                validate="options"
                default="php"
        >
            <option value="ViolaJones">COM_SOCIALMAGICK_CONFIG_FACEDETECT_METHOD_OPT_VIOLAJONES</option>
            <option value="Google">COM_SOCIALMAGICK_CONFIG_FACEDETECT_METHOD_OPT_GOOGLE</option>
            <option value="Rekognition">COM_SOCIALMAGICK_CONFIG_FACEDETECT_METHOD_OPT_REKOGNITION</option>
        </field>

        <field
                name="facedect_google_apikey"
                type="password"
                label="COM_SOCIALMAGICK_CONFIG_FACEDECT_GOOGLE_APIKEY_LABEL"
                description="COM_SOCIALMAGICK_CONFIG_FACEDECT_GOOGLE_APIKEY_DESC"
                showon="facedetect_method:Google"
        />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_socialmagick"
                section="component"/>
    </fieldset>

</config>
